@import "../../Styles.scss";
.review {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  gap: 60px;
margin-top: 300px;
  height: 100vh;
  .top {
    text-align: center;
    h2 {
      font-size: 40px;
    }
    p{
        margin-top: 5px;
    font-size: 20px;
    }
  }
  .bottom {
    display: grid;
    grid-template-columns: 30vw 30vw;
    justify-content: center;
    align-items: center;
    padding:  0 50px;
    gap: 70px;
    .person_review {
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 30px;
      box-shadow: 1px 1px 5px 1px gray;
      border-radius: 10px;
      padding: 30px;
      .content {
        p {
          font-weight: 500;
          font-size: 20px;
        }
      }
      .details{
        display: flex;
        justify-content: space-between;
        .img_name{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        p{
            font-weight: 600;
        }
      }
      .icon{
        font-size: 50px;
      }
    }
    }
  }
  @include mobile{
  .bottom{
    display: flex;
    flex-direction: column;
    .person_review {
      width: 70%;
    }
  }
}
@media screen and (max-width:460px) {
  .bottom{
    .person_review {
      width: 90%;
    }
  }
}
}
